<<<<<<< HEAD
.todoBottom{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 50px;
}

.mb-100{
margin-bottom: 110px;
=======
.deletSelected{
    position: fixed;
    right: 50px;
    bottom: 20px;
>>>>>>> 250e9a40f138269cdf9bae5e2a1462f7c9ff3bc4
}