.logoImg {
    height: 60px;
}

.active {
    color: brown !important;
}
.relative{
    margin-right: auto;
}
@media (max-width:991px){
    .relative{
        margin-right: 0;
        order: 3;
        position: relative;
    }
    .navbarCollapse{
        position: absolute;
        right: 0;
        top: 100%;
        background: #fff;
        z-index: 1;
        border: 1px  solid #dee2e6;
        border-radius: 0.375rem;
        padding: 0.25rem 0.75rem;
        min-width: 150px;
    }
}