main{
    background: linear-gradient(-90deg, #e0ecfc 7%, #bcbcdd 100%);
}
.todoBottom{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 50px;
    box-shadow: 0 2px 120px 0 rgb(31 38 103);
}

.mb_100{
padding-bottom: 100px;
}
